<plugin name='odata' version='0.3' grailsVersion='2.1 &gt; *'>
  <author>Alex Gitlin, Artem Portnoy</author>
  <authorEmail>speakers.meet@gmail.com</authorEmail>
  <title>Open Data Viewer</title>
  <description>Grails Plugin for building Open Data Protocol - based table views on top of Twitter Bootstrap. 

Installation: 
1) install kickstart-with-bootstrap plugin
2) run kickstart script
3) install odata plugin
4) (optional) add the following line to the init closure of your BootStrap.groovy: 
org.grails.plugin.odata.Table.addSamples()
This should add two sample tables to your application. Use the supplied Table and Column controllers to change the views.

</description>
  <documentation>https://github.com/agitlin/odata/</documentation>
  <type>OdataGrailsPlugin</type>
  <resources>
    <resource>ODataResources</resource>
    <resource>spring.resources</resource>
    <resource>org.grails.plugin.odata.ColumnController</resource>
    <resource>org.grails.plugin.odata.TableController</resource>
    <resource>org.grails.plugin.odata.Column</resource>
    <resource>org.grails.plugin.odata.Table</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='Codehaus' url='http://repository.codehaus.org/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='rest' version='0.7' />
    </compile>
    <build>
      <plugin group='org.grails.plugins' name='release' version='2.0.3' />
      <plugin group='org.grails.plugins' name='rest' version='0.7' />
      <plugin group='org.grails.plugins' name='tomcat' version='2.1.1' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>